<!DOCTYPE html>
<html>
<head>
  <title>FayeResque</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://localhost:9292/faye.js' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
